:root {
    --primary1:              #054169;
    --primary2:              #0071BC;
    --primary3:              #E5F1F8;
    --secondary1:            #737373;
    --secondary2:            #A0A0A0;
    --secondary3:            #DCDCDC;
    --accent:                #FF9300;
}


/* General Settings */
a{color: var(--primary2); font-weight: bold;}
a:visited{color: var(--primary2);}
a:hover{color: var(--accent);}
a:active{color: var(--accent);}


/* Side Panel  */
.wy-side-nav-search{background-color:var(--secondary1);}
.wy-side-nav-search a{color: white;}

.wy-nav-top{background: var(--primary1);}
.wy-nav-side{background:var(--secondary1);}

.wy-menu-vertical p.caption {
    color:          white;
    font-weight:    bold;
    /* font-size:      1.1em; */
}
.wy-menu-vertical a{color: white;}
.wy-menu-vertical  a:active{background: var(--accent);}


/* Note and warning top and backround */
.rst-content .note .admonition-title{background: var(--primary1);}
.rst-content .note {background: var(--secondary3);}
.rst-content .warning .admonition-title{background: var(--accent);}
.rst-content .warning{background: var(--secondary3);}


/* Background for code snippets */
.highlight{background: var(--secondary3);}


/* Border and background for functions */
.rst-content dl:not(.docutils) dt{
    /* border-top-color: var(--accent); */
    background-color: var(--primary3);
    color: var(--primary1);
}


/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
       /* !important prevents the common CSS stylesheets from overriding
          this as on RTD they are loaded after this stylesheet */
       white-space: normal !important;
    }
 
    .wy-table-responsive {
       overflow: visible !important;
    }
 }